* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-bottom: 5px;
    background-color: #192d36;
    background-image: url('img/Poke3.png');
    background-size: 100%;
    background-attachment: fixed;
}

.head {
    background-color: #283b6d;
    padding: 15px;
    color: #192d36;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    font-weight: 100;
    color: yellow;
    font-size: 90px;
    margin-bottom: 40px;
    margin-top: 0px;
    z-index: 1;
    text-shadow: -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000;
    font-family: Conv_Pokemon;
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.titleRed {
    text-align: center;
    font-weight: 100;
    color: rgb(232, 13, 13);
    font-size: 90px;
    margin-bottom: 40px;
    margin-top: 0px;
    z-index: 1;
    text-shadow: -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000;
    font-family: Conv_Pokemon;
    text-transform: capitalize;
}

.subtitle {
    text-align: center;
    font-family: Conv_Pokemon;
    font-weight: 100;
    color: cornflowerblue;
    font-size: 60px;
    position: absolute;
    margin-left: 46%;
    margin-top: 90px;
    z-index: 0;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.desc {
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
    margin-bottom: 45px;
    background-image: url("img/pokemon-fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.74);
}

.imputs {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border-width: 0px;
    padding: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
    font-family: cursive;
}

.boton-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.cbox {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.img-huevo {
    width: 60px;
    margin: 20px;
    padding: 30px;
    border-radius: 50%;
    Background: #0000003b;
}

.boton {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Conv_Pokemon;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #192d36;
    color: white;
    border-width: 0px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.boton1 {
    font-size: 20px;
    text-transform: CAPITALIZE;
    font-family: Conv_Pokemon;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #192d36;
    color: white;
    border-width: 0px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.botonRed {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Conv_Pokemon;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: Red;
    color: white;
    border-width: 0px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.botonGreen {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Conv_Pokemon;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: Green;
    color: white;
    border-width: 0px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.linksContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}


.links {
    text-decoration: none;
    color: #192d36;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
}

.container {
    text-align: center;
    margin: auto;
    width: 25%;
    margin-top: 50px;
    padding: 20px;
    background: darkcyan;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.74);
    font-family: cursive;
}

.container1 {
    overflow: hidden;
    width: 250px;
    height: 500px;
    display: inline-block;
    padding: 2%;
    color: white;
    background-color: #3a778a;
    border-radius: 15px;
    margin: 0 10px;
    margin-bottom: 25px;
    text-align: justify;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.74);
}

.img {
    height: 160px;
    width: 150px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

    .img img {
        width: 100%;
        height: 80%;
        border-radius: 50%;
    }

.feat {
    background-color: black;
}

.pie img {
    margin-bottom: 18px;
}

.cont-feat {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    padding: 10px;
}

.dir {
    text-decoration: none;
    color: #fff;
}

.user {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.info {
    margin-top: 25px;
    margin-bottom: 15px;
}

    .info h2 {
        margin-bottom: 10px;
    }

.block1 {
    background-color: #9d1515;
}

.block2 {
    background-color: #f1441c;
}

.block3 {
    background-color: #9d1515;
}

.block4 {
    background-color: #f1441c;
}

.main-menu, .main-menu li, .main-menu, .menu-user {
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

.main-menu {
    float: left;
    position: fixed;
    margin: 5px;
    margin-top: 20px;
    z-index: 1;
}

    .main-menu li:hover {
        background: rgba(174, 185, 253, 0.76);
    }

    .main-menu li {
        padding: 5px;
        margin-bottom: 5px;
        text-align: center;
        display: none;
        width: 250px;
    }

        .main-menu li:first-child {
            display: block;
            padding: 5px;
        }

    .main-menu a, .main-menu label {
        text-decoration: none;
        font-family: 'Bebas', sans-serif;
        text-transform: uppercase;
    }

    .main-menu span {
        text-align: left;
        display: block;
        color: #469198;
        text-shadow: -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
    }

    .main-menu li:first-child span {
        display: inline-block;
        text-align: center;
        width: 200px;
    }

    .main-menu li:first-child .fa-bars {
        display: inline-block;
        margin-right: 10px;
    }

    .main-menu li i {
        font-size: 30px;
    }

.notificacionAmigos {
    display: none;
}

#menu-switch:checked + .main-menu li {
    display: block;
}

#menu-switch:checked + .notificacionAmigos {
    display: none;
}

#menu-switch {
    display: none;
}

.contenedor {
    text-align: center;
}

.barras {
    display: inline-flex;
    text-align: center;
}

.local {
    text-align: left;
}

.LifeBar {
    background: Green;
    width: 400px;
    height: 15px;
    border: solid 0.5px;
}

.ExperienceBar {
    background: Blue;
    width: 400px;
    height: 15px;
    border: solid 0.5px;
}

.visita {
    text-align: right;
}

.vs {
    text-align: center;
    font-family: Conv_Pokemon;
    font-weight: 100;
    color: cornflowerblue;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pokemonBatalla {
    width: 900px;
    height: 300px;
    border: solid 0.5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pokemonLocal {
    float: left;
    margin-left: 50px;
    margin-top: 130px;
}

.pokemonVisita {
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}

.opciones {
    width: 900px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.ataquesBatalla {
    text-align: center;
}

.menuBatalla {
    text-align: center;
}

.notificacion {
    background: #274457;
    margin: 30px;
    margin-left: 50px;
    width: 320px;
    height: 120px;
    padding: 10px;
    display: inline-flex;
    color: white;
    font-family: Conv_Pokemon;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 25px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.img-Notificacion {
    margin-top: -13px;
    margin-left: -70px;
    position: absolute;
}

.contenedorBotones {
    margin-top: 6px;
    margin-left: 80px;
}

.nombreJugador {
    position: absolute;
    margin-top: 90px;
    margin-left: -35px;
    width: 80px;
    text-align: center;
}

.contenedorInvitacion {
    margin-top: 40px;
    margin-left: 105px;
}

.usuario {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.imgUsuario {
    width: 300px;
}

.textUser {
    display: block;
    color: white;
    font-family: conv_Pokemon;
    font-size: 45px;
}


.mGrid {
    width: 700px;
    background-color: rgba(226, 251, 27, 0.54);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    text-shadow: -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000;
    font-family: Conv_Pokemon;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

    .mGrid td {
        padding: 2px;
        color: white;
        border: none;
        border-collapse: collapse;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #960303 url(grd_head.png) repeat-x top;
        font-size: 0.9em;
        border: none;
        border-collapse: collapse;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
            border: none;
            border-collapse: collapse;
        }

        .mGrid .pgr td {
            padding: 0 6px;
            font-weight: bold;
            color: #fff;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                background-color: #e52626;
                color: white;
                text-decoration: none;
            }

    .mGrid tr:hover {
        background-color: #f91414d4;
        color: white;
        text-decoration: none;
    }
